rr-godot/mono*.json
rr-godot/.import/
rr-godot/export.cfg
rr-godot/export_presets.cfg
rr-godot/.mono/
rr-godot/mono_crash*

rr-godot/.vscode

*.xcf

*.odt
*lock*
rr_godot.code-workspace


RR_Godot.Plugins/.mono/
