RR_Godot/mono*.json
RR_Godot/.import/
RR_Godot/export.cfg
RR_Godot/export_presets.cfg
RR_Godot/.mono/
RR_Godot/mono_crash*

RR_Godot/.vscode
RR_Godot/.vs

RR_Godot/src/Core/.mono/
RR_Godot/src/Core/bin/
RR_Godot/src/Core/Plugins/.mono/
RR_Godot/src/Core/Plugins/obj/
RR_Godot/src/Core/Geometry/.mono/
RR_Godot/src/Core/Geometry/obj/

*.xcf

*.odt
*lock*
rr_godot.code-workspace


RR_Godot.Plugins/.mono/
RR_Godot/Builds/
